body {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 2em;
}

.board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    border: 1px solid black;
}

.board div {
    border: 1px solid black;
    font-size: 4em;
    justify-items: center;
    align-items: center;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
}

.start {
    border-radius: 10px;
    margin-bottom: 2em;
    background-color: black;
    border: 1px solid white;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    padding: 1em;
}